<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dario.testsdb">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AppCASE-4Blind"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="Menu Principal"/>

        <activity
            android:name=".CrearGrafo"
            android:label="Crear Grafo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CrearNodeEnlaceActivity"
            android:label="Crear Nodo/Arco"
            android:parentActivityName=".CrearGrafo" />

        <activity
            android:name=".CrearNodeActivity"
            android:label="Crear Nodo"
            android:parentActivityName=".CrearNodeEnlaceActivity" />

        <activity
            android:name=".CrearEnlaceActivity"
            android:label="Crear Arco"
            android:parentActivityName=".CrearNodeEnlaceActivity" />

        <activity
            android:name=".NodeListOrigen"
            android:label="Lista de Nodos Origen"
            android:parentActivityName=".CrearEnlaceActivity" />

        <activity
            android:name=".NodeListDestino"
            android:label="Lista de Nodos Destino"
            android:parentActivityName=".CrearEnlaceActivity" />

        <activity
            android:name=".GraphListDelete"
            android:label="Lista de Grafos"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".GraphListEdit"
            android:label="Lista de Grafos"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".GraphListPlay"
            android:label="Lista de Grafos"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".GraphListExport"
            android:label="Lista de Grafos"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".WarningNotice"
            android:label="Aviso de alerta"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".EditarGrafo"
            android:label="Editar Grafo"
            android:parentActivityName=".GraphListEdit"/>

        <activity
            android:name=".AgregarNodoGrafo"
            android:label="Agregar Nodo"
            android:parentActivityName=".EditarGrafo"/>

        <activity
            android:name=".AgregarEnlaceGrafo"
            android:label="Agregar Enlace"
            android:parentActivityName=".EditarGrafo"/>

        <activity
            android:name=".EditarNombreGrafo"
            android:label="Editar nombre de Grafo"
            android:parentActivityName=".EditarGrafo"/>

        <activity
            android:name=".NodoListEdit"
            android:label="Lista de Nodos"
            android:parentActivityName=".EditarGrafo"/>

        <activity
            android:name=".EnlaceListEdit"
            android:label="Lista de Enlaces"
            android:parentActivityName=".EditarGrafo"/>

        <activity
            android:name=".EditarNodo"
            android:label="Editar nodo"
            android:parentActivityName=".NodoListEdit"/>

        <activity
            android:name=".OpcionesReproduccionGrafo"
            android:label="Opciones de Reproduccion"
            android:parentActivityName=".GraphListPlay"/>

        <activity
            android:name=".Play"
            android:label="Reproduccion"
            android:parentActivityName=".OpcionesReproduccionGrafo"/>

        <activity
            android:name=".EditarEnlace"
            android:label="Editar enlace"
            android:parentActivityName=".EnlaceListEdit"/>

        <activity
            android:name=".ListNodosUpdateOrigen"
            android:label="Lista de Nodos"
            android:parentActivityName=".EditarEnlace"/>

        <activity
            android:name=".ListNodosUpdateDestino"
            android:label="Lista de Nodos"
            android:parentActivityName=".EditarEnlace"/>

        <activity
            android:name=".WhatsAppExport"
            android:label="Exportar Grafo"
            android:parentActivityName=".GraphListExport"/>

        <activity
            android:name=".ConfigurationGraph"
            android:label="Configuracion"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".NodeListOrigenAgregarEnlace"
            android:label="Lista de Nodos Origen"
            android:parentActivityName=".AgregarEnlaceGrafo"/>

        <activity
            android:name=".NodeListDestinoAgregarEnlace"
            android:label="Lista de Nodos Destino"
            android:parentActivityName=".AgregarEnlaceGrafo"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>