<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dario.testsdb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AppCASE-4Blind"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CrearGrafo"
            android:label="Crear Grafo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CrearNodeEnlaceActivity"
            android:label="Crear Nodo/Arco"
            android:parentActivityName=".CrearGrafo" />

        <activity
            android:name=".CrearNodeActivity"
            android:label="Crear Nodo"
            android:parentActivityName=".CrearNodeEnlaceActivity" />

        <activity
            android:name=".CrearEnlaceActivity"
            android:label="Crear Arco"
            android:parentActivityName=".CrearNodeEnlaceActivity" />

        <activity
            android:name=".NodeListOrigen"
            android:label="Lista de Nodos Origen"
            android:parentActivityName=".CrearEnlaceActivity" />

        <activity
            android:name=".NodeListDestino"
            android:label="Lista de Nodos Destino"
            android:parentActivityName=".CrearEnlaceActivity" />

        <activity
            android:name=".GraphListDelete"
            android:label="Lista de Grafos"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".GraphListEdit"
            android:label="Lista de Grafos"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".GraphListPlay"
            android:label="Lista de Grafos"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".GraphListExport"
            android:label="Lista de Grafos"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".WarningNotice"
            android:label="Aviso de alerta"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".EditarGrafo"
            android:label="Editar Grafo"
            android:parentActivityName=".GraphListEdit"/>

        <activity
            android:name=".EditarNombreGrafo"
            android:label="Editar nombre de Grafo"
            android:parentActivityName=".EditarGrafo"/>

        <activity
            android:name=".NodoListEdit"
            android:label="Editar nodo de Grafo"
            android:parentActivityName=".EditarGrafo"/>

    </application>

</manifest>